In [2]:
import sqlite3
conn = sqlite3.connect('../sql/producto.db')

c = conn.cursor()
print ('base de datos conectada')

base de datos conectada

In [ ]:
c

# insert

In [ ]:
cadena = 'prueba'
print(f'el contenido de cadena es = {cadena}')

In [ ]:
 print("Nombre producto")
nombre = input()
print("Descripcion")
descripcion = input()
print("Cantidad")
cantidad = input()
print("Producto",nombre)

In [ ]:
slq = f"INSERT INTO producto(nombre,descripcion,cantidad) values ('{nombre}','{descripcion}',{cantidad})"

In [ ]:
c.execute(f"INSERT INTO producto(nombre,descripcion,cantidad) values ('{nombre}','{descripcion}',{cantidad})")

In [ ]:
 print("Nombre Cliente")
nombre = input()
print("RFC")
rfc = input()
print("Ciudad")
ciudad = input()
print("Direcci√≥n")
direccion= input()

In [ ]:
c.execute(f"INSERT INTO customer(nombre,rfc,ciudad,direccion) values ('{nombre}','{rfc}','{ciudad}','{direccion}')")

In [4]:
conn.commit()

In [16]:
print("Nombre producto")
nombre = input()
print("Descripcion")
descripcion = input()
print("Cantidad")
cantidad = input()
print("Producto",nombre)
idt = input()
print("Producto",nombre)

sentencia = "UPDATE producto SET nombre = ?, descripcion = ?, cantidad = ? WHERE id = ?;"
c.execute(sentencia, [nombre, descripcion, cantidad, idt])
conn.commit()
print("Datos guardados")

Nombre producto
azucar
Descripcion
caja
Cantidad
4
Producto azucar
10
Producto azucar
Datos guardados

In [17]:

idt = 12
sentencia = "DELETE FROM producto WHERE id = ?;"
c.execute(sentencia, [idt])
conn.commit()
print("Se elimino")

Se elimino

In [1]:
conn.close()

NameError: name 'conn' is not defined

In [10]:
for row in c.execute('SELECT * FROM producto'):
        print(row)

(1, 'cafe', 'contenido 1k', 2)
(2, 'galletas', 'presentacion caja', 3)
(3, 'Leche', 'presentacion caja', 4)
(4, 'galletas2', 'bolsa 1k', 3)
(5, 'galletas2', 'bolsa 1k', 3)

In [38]:
list_id = []
list_nom = []
list_des = []
list_cant = []

dicc = {}

In [43]:
for row in c.execute('SELECT * FROM producto'):
    list_id.append(row[0])
    list_nom.append(row[1])
    list_des.append(row[2])
    list_cant.append(row[3])
    
dicc['id'] = list_id
dicc['nombre'] = list_nom    
dicc['descripcion'] = list_des  
dicc['cantidad'] = list_cant

In [44]:
dicc

{'id': [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6],
 'nombre': ['cafe',
  'galletas',
  'Leche',
  'galletas2',
  'galletas2',
  'cafe',
  'galletas',
  'Leche',
  'galletas2',
  'galletas2',
  'OKKI',
  'cafe',
  'galletas',
  'Leche',
  'galletas2',
  'galletas2',
  'OKKI'],
 'descripcion': ['contenido 1k',
  'presentacion caja',
  'presentacion caja',
  'bolsa 1k',
  'bolsa 1k',
  'bolsa 1k'],
 'cantidad': [2, 3, 4, 3, 3, 3]}